body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 auto;
    width: 90%;
    
}
h1 {
    text-align: center;
    font-size: 200%;
}

.main-button {
    border: none;
    background-color: darkgreen;
    border-color: darkgreen;
    padding: .5rem .75rem;
    border-radius: .25rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
input[type="text"], input[type="email"], textarea, select {
    width: 90%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .5rem 0;
    display: block;
    margin: 0 auto;
    margin-bottom: .5rem;
    
}
label, .label {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-bottom: .5rem;
}
.inlineLabel label {
    display: inline;
    width: 90%;
    margin: 0 auto;
    padding-bottom: .5rem;
}

legend {
    color:green;
    font-size: 1.5rem;
    text-align: center;
    width: auto;
}

fieldset {
    border: 1px solid green;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: block;
    width: 90%;
}


