<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/Ice_Cream_Clip_Art.png">
    <title>Ice Cream Order</title>
    <link rel="stylesheet" href="/styles/styles.css"> 
    <script src="js/ice-cream.js" defer></script>
</head>
<body>
    <main>
        <h1>Ice Cream Order Form</h1>
        <form id="ice-cream-form" action="submit-order" method="post">
            <fieldset>
                <legend>Personal Information</legend>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
                <span id="err-name" class="error">NAME CANNOT BE EMPTY</span>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
                <span id="err-email" class="error">EMAIL CANNOT BE EMPTY</span>
            </fieldset>
            <fieldset>
                <legend>Order Details</legend>
                <label for="flavor">Choose your flavor:</label>
                <select id="flavor" name="flavor">
                    <option value="vanilla">Vanilla</option>
                    <option value="chocolate">Chocolate</option>
                    <option value="strawberry">Strawberry</option>
                    <option value="mint">Mint</option>
                    <option value="huckleberry">Huckleberry</option>
                </select>
                <p class="label">Choose your cone:</p> <!--Had to add label this way for proper formatting-->
                <div class="inlineLabel">
                    <label for="waffle">
                        <input type="radio" id="waffle" name="method" value="waffle">Waffle cone
                    </label>
                    <label for="sugar">
                        <input type="radio" id="sugar" name="method" value="sugar">Sugar cone
                    </label>
                    <label for="cup">
                        <input type="radio" id="cup" name="method" value="cup">Cup
                    </label>
                </div>
                <span id="err-method" class="error">CANNOT BE EMPTY</span>
                <p class="label">Toppings:</p> <!--Had to add label this way for proper formatting-->
                <div class="inlineLabel">
                    <label for="sprinkles">
                        <input type="checkbox" id="sprinkles" name="toppings[]" value="sprinkles">Sprinkles
                    </label>
                    <label for="nuts">
                        <input type="checkbox" id="nuts" name="toppings[]" value="nuts">Nuts
                    </label>
                    <label for="cherry">
                        <input type="checkbox" id="cherry" name="toppings[]" value="cherry">Cherry
                    </label>
                    <label for="whip">
                        <input type="checkbox" id="whip" name="toppings[]" value="whip">Whipped cream
                    </label>
                </div>
                <label for="comment">Additional comments:</label>
                <textarea rows="5" id="comment" name="comment"></textarea>
            </fieldset>
            <button id="submit-button" type="submit">Place order</button>
        </form>
    </main>
</body>
</html>