h1 {
    margin-bottom: 0;
}

.dt-column-header {
    margin-left: 25px;
    margin-right: 25px;
}

.dt-layout-row .dt-layout-cell {
    margin-top: 5px;
    margin-bottom: 5px;
}

#order-table_wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.dt-layout-full {
    margin-left: 20px;
    margin-right: 20px;
}